@font-face {
	font-family: "Funnel Sans";
	src: url("/fonts/FunnelSansVariable.woff2") format("woff2");
	font-weight: 300 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Funnel Sans";
	src: url("/fonts/FunnelSansVariable-Italic.woff2") format("woff2");
	font-weight: 300 800;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: "IBM Plex Mono";
	src: url("/fonts/IBMPlexMono-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
