@import "reset.css";
@import "fonts.css";

:root {
	--grey-200: 92.8% 0.006 264.531;
	--grey-500: 55.1% 0.027 264.364;
	--grey-600: 44.6% 0.03 256.802;
	--grey-950: 13% 0.028 261.692;
	--purple-700: 49.6% 0.265 301.924;
	--purple-800: 43.8% 0.218 303.724;

	--text-colour: oklch(var(--grey-600));
	--title-colour: oklch(var(--grey-950));
	--subtext-colour: oklch(var(--grey-500));

	--border-colour: oklch(var(--grey-200));
	--accent-colour: oklch(var(--purple-800));
}

body {
	font-family: "Funnel Sans", ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	color: var(--text-colour);
	font-size: 18px;

	@media (min-width: 768px) {
		font-size: 20px;
	}
}

code, pre {
	font-family: "IBM Plex Mono", ui-monospace, SFMono-Regular, Menlo, Monaco,
		Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 18px;
}

main {
	margin: auto;
	max-width: 65ch;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5rem 0;
	color: var(--title-colour);
	line-height: 1.2;
}

h1 {
	font-size: 3.052em;
}

h2 {
	font-size: 2.441em;
}

h3 {
	font-size: 1.953em;
}

h4 {
	font-size: 1.563em;
}

h5 {
	font-size: 1.25em;
}

a {
	color: var(--accent-colour);
}

a:hover {
	color: var(--accent-colour);
}

.prose p {
	margin-bottom: 2em;
}

code {
	padding: 2px 5px;
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent-colour);
	padding: 0 0 0 20px;
	margin: 0;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid var(--border-colour);
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
