---
import { SITE_TITLE } from "@/consts";
---

<header>
	<nav>
		<a href="/">
			{SITE_TITLE}
		</a>
	</nav>
</header>

<style>
	header {
		border-bottom: 1px solid var(--border-colour);
		padding: 1em;
	}
</style>
