---
import { SITE_TITLE } from "@/consts";
import IconGlasses from "@/components/icons/IconGlasses.astro"
---

<header>
	<nav>
		<a href="/">
			{SITE_TITLE}

			<IconGlasses />
		</a>
	</nav>
</header>
