---
const { class: className } = Astro.props;
---

<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 37 48"
	role="img"
	class:list={[className]}
>
	<title>Logo for Lewis Howles</title>

	<defs>
		<linearGradient id="logo-gradient" x1="20%" x2="80%" y1="0%" y2="100%">
			<stop offset="0" stop-color="var(--logo-gradient-start)" />
			<stop offset="100%" stop-color="var(--logo-gradient-end)" />

		</linearGradient>
	</defs>
	<path fill="url(#logo-gradient)" fill-rule="evenodd" d="M16.743 44.406a20 20 0 0 1-2.329 1.867Q11.882 48 8.674 48 4.26 48 2.13 43.937 0 39.873 0 33.423 0 27.225 1.58 19.3q1.578-7.924 4.662-13.612Q9.325-.001 13.587 0q2.406 0 3.785 2.26t1.379 6.476q0 6.045-3.31 14.02-3.308 7.974-8.974 15.796.352 2.084 1.154 2.972.801.889 2.105.889 2.056 0 3.61-1.194 1.24-.952 3.02-2.985-.012-.905-.012-1.916 0-7.822 1.58-16.305 1.578-8.483 4.662-14.248T29.981 0q2.306 0 3.735 2.006 1.43 2.007 1.43 5.207 0 5.13-2.959 10.64-2.958 5.512-9.626 12.877a96 96 0 0 0-.15 5.435q1.653-4.317 3.685-7.035 2.03-2.717 4.01-3.886 1.98-1.168 3.635-1.168 1.605 0 2.432.838.827.839.827 2.464 0 1.32-.551 4.978a114 114 0 0 0-.803 5.866q-.3 2.769-.3 6.172 0 1.93-.777 2.768-.778.838-2.533.838-1.653 0-2.406-.864-.753-.863-.752-2.59 0-2.032.702-6.705.602-4.064.602-5.18 0-.813-.552-.813-.651 0-1.855 1.701t-2.407 4.495a37 37 0 0 0-1.955 5.893q-.55 2.386-1.278 3.225-.727.838-2.281.838t-2.282-1.143q-.551-.867-.829-2.45M12.723 4.5q-1.099 0-2.482 4.268-1.385 4.268-2.435 10.595Q6.756 25.689 6.66 31.5q3.39-6.018 5.395-12.06T14.06 8.408q0-3.908-1.337-3.908m16.22.75q-.933 0-2.07 2.636-1.139 2.635-2.2 7.114-1.06 4.478-1.733 9.75a36.6 36.6 0 0 0 5.304-8.138q2.096-4.402 2.096-7.984 0-1.638-.362-2.508-.363-.87-1.036-.87" />
</svg>
