---
import BlogPostPreview from "@/components/blog/BlogPostPreview.astro"
import Page from "@/layouts/Page.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { getSortedBlogPosts } from "@/helpers/posts";

const posts = await getSortedBlogPosts()
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1 class="sr-only">The blog of Lewis Howles</h1>

	<section class="flex flex-col gap-12">
		<h2 class="sr-only">Recent articles</h2>

		{
			posts.map(post => (
				<BlogPostPreview post={post} />
			))
		}
	</section>
</Page>
