---
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { getSortedBlogPosts } from "@/helpers/posts";

import BlogPostPreview from "@/components/blog/blog-post-preview.astro";
import Page from "@/layouts/Page.astro";
import Sidebar from "@/components/layout/sidebar.astro"

const posts = await getSortedBlogPosts();
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<div class="grid grid-cols-1 gap-22 lg:grid-cols-[1fr_20rem]">
		<div>
			<h1 class="sr-only">The blog of Lewis Howles</h1>

			<section class="flex flex-col gap-20">
				<h2 class="sr-only">Recent articles</h2>

				{posts.map(post => <BlogPostPreview post={post} />)}
			</section>
		</div>

		<div>
			<Sidebar />
		</div>
	</div>
</Page>
