---
import BlogPostPreview from "@/components/blog/BlogPostPreview.astro"
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import Meta from "@/components/layout/Meta.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { getSortedBlogPosts } from "@/helpers/posts";

const posts = await getSortedBlogPosts()
---

<!doctype html>
<html lang="en">
	<head>
		<Meta title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />

		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
							<BlogPostPreview post={post} />
						))
					}
				</ul>
			</section>
		</main>

		<Footer />
	</body>
</html>
