---
import DoodleHi from "@/components/doodles/doodle-hi.astro";
import IconGlasses from "@/components/icons/icon-glasses.astro";
import IconRSS from "@/components/icons/icon-rss.astro";
import ThemeToggle from "@/components/helpers/theme-toggle.astro"
import CloudLayerBack from "@/components/layout/header/cloud-layer-back.astro";
import CloudLayerFront from "@/components/layout/header/cloud-layer-front.astro";
import CloudLayerMiddle from "@/components/layout/header/cloud-layer-middle.astro";
import Logo from "@/components/layout/logo.astro";
import StarField from "@/components/layout/header/star-field.astro";
import { SITE_TITLE } from "@/consts";
---

<a href="#main" class="absolute -top-full inset-s-4 px-4 py-2 rounded focus-visible:top-0">Skip to main content</a>

<header class="grid overflow-hidden bg-linear-to-b h-95 from-blue-200 to-blue-300 mb-11 dark:from-indigo-950 dark:to-indigo-900">
	<StarField class="header-grid opacity-0 transition-opacity dark:opacity-100" />
	<CloudLayerBack class="header-grid cloud-layer cloud-layer-back text-[#C2E8FC] dark:text-[#383667]" />
	<CloudLayerMiddle class="header-grid cloud-layer cloud-layer-middle text-[#D8EFFB] dark:text-[#4C4A74]" />
	<CloudLayerFront class="header-grid cloud-layer cloud-layer-front text-white dark:text-indigo-950" />

	<nav class="[grid-area:1/1] z-10 w-full pt-10 flex items-center gap-6 max-w-260 mx-auto px-8 self-start">
		<a href="/" class="relative">
			<span class="sr-only">{SITE_TITLE}</span>

			<Logo class="w-9.5 h-12" />
			<DoodleHi class="size-auto text-colour-link absolute inset-s-full inset-be-full ms-2.5 -mb-2" />
		</a>

		<div class="ms-auto flex items-center gap-2">
			<a href="https://howles.dev" class="rounded p-2 group">
				<span class="sr-only">Visit the "howles.dev" website.</span>
				<IconGlasses class="w-7 h-4.5 animate-stroke-hover motion-safe:group-hover:-translate-y-0.5 transition-transform" />
			</a>

			<ThemeToggle />

			<a href="/rss.xml" class="rounded p-2 group">
				<span class="sr-only">View RSS feed</span>
				<IconRSS class="size-4.5 animate-stroke-hover motion-safe:group-hover:-translate-y-0.5 transition-transform" />
			</a>
		</div>
	</nav>
</header>
