.gradient-background {
	background-image: linear-gradient(to bottom right, var(--primary-gradient-start), var(--primary-gradient-end));
}

.long-shadow {
	box-shadow: calc(var(--spacing) * 4) calc(var(--spacing) * 4) 0 oklch(0 none none / 0.04);
}

.link-colours {
	color: var(--link-base-colour);

	&:hover, &:focus-visible {
		color: var(--link-hocus-colour);
	}
}

.subtle-link {
	text-decoration: none;
	transition: color var(--default-transition-duration);

	&:hover, &:focus-visible {
		color: var(--link-hocus-colour);
		text-decoration: underline;
	}
}

.show-on-hover {
	@apply opacity-0 motion-safe:-translate-x-1 motion-safe:transition-all;
	@apply group-hocus:opacity-100 motion-safe:group-hocus:translate-x-0;
}
