.gradient-background {
	background-image: linear-gradient(to bottom right, var(--primary-gradient-start), var(--primary-gradient-end));
}

.long-shadow {
	box-shadow: calc(var(--spacing) * 4) calc(var(--spacing) * 4) 0 oklch(0 none none / 0.04);
}

.text-colour-link {
	color: var(--link-base-colour);

	&:hover, &:focus-visible {
		color: var(--link-hocus-colour);
	}
}

.subtle-link {
	color: currentColor;
	text-decoration: none;

	&:hover, &:focus-visible {
		color: var(--link-hocus-colour);
		text-decoration: underline;
	}
}

.text-colour-title {
	color: var(--text-colour-title);
}

.text-colour-muted {
	color: var(--text-colour-muted);
}
