---
const { title, class: className, ...props } = Astro.props;
---

<svg
	xmlns="http://www.w3.org/2000/svg"
	viewBox="0 0 32 18"
	fill="none"
	stroke="currentColor"
	stroke-width="1.5"
	stroke-linejoin="round"
	stroke-linecap="round"
	class:list={[className]}
	role={title ? "img" : undefined}
	aria-hidden={title ? undefined : "true"}
	{...props}
>
	{title && <title>{title}</title>}

	<path fill="currentColor" fill-opacity=".3" d="m30.172 3.966.582.137-.004.598v.922a.84.84 0 0 1-.371.707c-.235.157-.364.286-.397.355.1-.209-.594 2.522-1.144 3.892-.183.455-.38.883-.578 1.253l-.027.054c-.238.492-.465.855-.7 1.08-.38.366-.956.534-1.92.652l-.073.008c-.65.076-1.455.12-2.303.125h-.108c-2.193.008-3.777-.183-4.404-.647-.45-.332-.85-.994-1.2-1.87A10 10 0 0 1 17 9.715a18 18 0 0 1-.16-.664l-.128-.578c-.22-.97-.318-1.108-.712-1.108s-.492.137-.712 1.108l-.127.578c-.056.25-.106.457-.16.664a9.6 9.6 0 0 1-.514 1.488c-.362.904-.762 1.566-1.212 1.898-.627.464-2.21.655-4.407.648l-.218-.002a22 22 0 0 1-2.191-.124l-.042-.005c-.983-.118-1.566-.285-1.95-.654-.244-.234-.48-.617-.712-1.107q-.319-.598-.593-1.28c-.55-1.37-1.245-4.102-1.144-3.893-.033-.069-.162-.198-.396-.355a.84.84 0 0 1-.372-.703l.001-.262q.001-.342-.001-.664l-.004-.598.582-.137c4.123-.972 7.183-.906 10.945-.182-.016-.003 1.469.292 1.833.356.586.102 1.02.151 1.388.151h.073c.37-.006.797-.057 1.373-.16.351-.061 1.746-.339 1.787-.347 3.762-.724 6.822-.79 10.945.182Zm-7.2 1.627c-.947.05-1.824.171-2.483.344-.783.205-1.148.428-1.24.65l-.03.082c-.33 1.097.457 4.068 1.135 4.574.127.096.407.174.949.237l.008.001q.904.085 1.807.088.904.003 1.615-.077c.689-.073.992-.164 1.114-.282.243-.236.681-1.237.982-2.33.382-1.385.402-2.29.117-2.71-.29-.427-1.782-.691-3.975-.577Zm-17.879.531-.04.047c-.284.419-.264 1.324.118 2.71.3 1.092.74 2.093.981 2.329.126.122.448.215 1.176.288q.778.075 1.553.071a25 25 0 0 0 1.848-.093l.096-.012c.462-.061.705-.133.821-.22.678-.507 1.465-3.478 1.134-4.575-.085-.282-.44-.514-1.269-.732-.66-.172-1.536-.294-2.483-.344-2.069-.108-3.525.116-3.935.531Z" />
	<path d="M5.054 6.17c.666-.98 7.357-.724 7.726.499.37 1.222-.545 4.134-1.134 4.574-.135.101-.472.18-.917.233q-1.072.088-1.848.093T7.33 11.5c-.59-.06-1.04-.156-1.178-.29-.486-.473-1.765-4.057-1.098-5.038Zm14.166.499c.369-1.223 7.06-1.48 7.726-.498.667.981-.612 4.565-1.099 5.039-.132.129-.558.223-1.12.282q-.705.081-1.609.077a20 20 0 0 1-1.807-.088c-.465-.054-.818-.134-.957-.238-.589-.44-1.503-3.352-1.134-4.574Z" />

	<path pathLength="1" d="m30.172 3.966.582.137-.004.598v.922a.84.84 0 0 1-.371.707c-.235.157-.364.286-.397.355.1-.209-.594 2.522-1.144 3.892-.183.455-.38.883-.578 1.253l-.027.054c-.238.492-.465.855-.7 1.08-.38.366-.956.534-1.92.652l-.073.008c-.65.076-1.455.12-2.303.125h-.108c-2.193.008-3.777-.183-4.404-.647-.45-.332-.85-.994-1.2-1.87A10 10 0 0 1 17 9.715a18 18 0 0 1-.16-.664l-.128-.578c-.22-.97-.318-1.108-.712-1.108s-.492.137-.712 1.108l-.127.578c-.056.25-.106.457-.16.664a9.6 9.6 0 0 1-.514 1.488c-.362.904-.762 1.566-1.212 1.898-.627.464-2.21.655-4.407.648l-.218-.002a22 22 0 0 1-2.191-.124l-.042-.005c-.983-.118-1.566-.285-1.95-.654-.244-.234-.48-.617-.712-1.107q-.319-.598-.593-1.28c-.55-1.37-1.245-4.102-1.144-3.893-.033-.069-.162-.198-.396-.355a.84.84 0 0 1-.372-.703l.001-.262q.001-.342-.001-.664l-.004-.598.582-.137c4.123-.972 7.183-.906 10.945-.182-.016-.003 1.469.292 1.833.356.586.102 1.02.151 1.388.151h.073c.37-.006.797-.057 1.373-.16.351-.061 1.746-.339 1.787-.347 3.762-.724 6.822-.79 10.945.182Zm-7.2 1.627c-.947.05-1.824.171-2.483.344-.783.205-1.148.428-1.24.65l-.03.082c-.33 1.097.457 4.068 1.135 4.574.127.096.407.174.949.237l.008.001q.904.085 1.807.088.904.003 1.615-.077c.689-.073.992-.164 1.114-.282.243-.236.681-1.237.982-2.33.382-1.385.402-2.29.117-2.71-.29-.427-1.782-.691-3.975-.577Zm-17.879.531-.04.047c-.284.419-.264 1.324.118 2.71.3 1.092.74 2.093.981 2.329.126.122.448.215 1.176.288q.778.075 1.553.071a25 25 0 0 0 1.848-.093l.096-.012c.462-.061.705-.133.821-.22.678-.507 1.465-3.478 1.134-4.575-.085-.282-.44-.514-1.269-.732-.66-.172-1.536-.294-2.483-.344-2.069-.108-3.525.116-3.935.531Z" />
</svg>
