---
import Footer from "@/components/layout/footer/footer.astro";
import Header from "@/components/layout/header/header.astro";
import Meta from "@/components/layout/meta.astro";

const { title = "", description = "" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<Meta title={title} description={description} />

		<slot name="head" />
	</head>
	<body class="bg-white text-grey-600 dark:bg-indigo-950 dark:text-grey-50">
		<Header />

		<main class="max-w-260 mx-auto px-8 bg-white">
			<slot />
		</main>

		<Footer />
	</body>
</html>
